.main-container {
   justify-content: space-between;
}

.center-content {
   /* Lets middle column shrink/grow to available width */
   flex: 1 1 auto;
}

.left-container,
.right-container {
   /* Forces side columns to stay same width */
   flex: 0 0 200px;
}
